* {
    margin: 0;
    padding: 0;
}

@media (max-width:1240px) and (min-width:1100px) {
    .slogan {
        width: 300px !important;
    }

    .slogan-text {
        font-size: 36px !important;
        padding: 0 0 35px 35px !important;
    }

    .yo {
        top:130px !important;
    }

    .email {
        position: fixed !important;
        bottom: 0px !important;
    }
}

@media (max-width:1099px) and (min-width:600px) {
    .yo {
        float:left !important;
        left:20% !important;
        margin-bottom: 140px;
        top: 440px !important;
    }

    .slogan {
        margin: 40px auto !important;
        position: absolute !important;
        left:28% !important;

    }

    .email {
        position: fixed !important;
        bottom: 0px !important;
    }
}


body {
    width: 100%;
    height: 100%;
    background-image: url("../img/background.png");
}

header {
    width: 100%;
}

.head-container {
    width: 80%;
    margin: 0 auto;
}

.head-logo {
    width: 380px;
    margin-top: 30px;
    display: inline-flex;
}

.head-logo img{
    width: 100%;
    height: 100%;
}

.head-button {
    margin-top: 30px;
    float: right;
}

.head-button img {
    position: relative;
    top: 1px;
}

.head-button button{
    padding: 5px 15px;
    color: #4062A7;
    background-color: #c3e2fa;
    border: 1px solid white;
    width: 100px;
    height: 35px;
    border-radius: 5px 5px 5px 5px;
    font: normal 18px "Trebuchet MS";
}

.head-button button:hover {
    background-color: #87C1ED;
    cursor: pointer;
}

.auth{
    width: 200px;
    padding: 16px;
    background: #ddd;
    z-index: 1;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    margin-top: 8px;
    display: none;
}

.auth input{
    margin: 5px 0;
    padding: 3px 0px 3px 10px;
    background: #e8ebee;
    border: 1px solid #e8ebee;
    border-radius: 5px 5px 5px 5px;
    color: black;
    height: 27px;
    width: calc(100% - 10px);
    font: normal 18px "Trebuchet MS";
}

.auth button{
    width: 100%;
    margin-top: 5px;
    color: #4062A7;
}

.log{
    margin-left: 132px;
}

.slogan {
    margin-top: 90px;
    margin-left: 10%;
    height: 220px;
    width: 400px;
}

.slogan-text {
    color: #4062A7;
    font-size: 48px;
    border-left: 2px solid #00C15C;
    border-bottom: 2px solid #00C15C;
    padding: 0 0 45px 45px;
}

.yo{
    position: absolute;
    right: 10%;
    top: 20%;
}

.email {
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 120px;
    bottom: 0;
    position: absolute;
}

.email-container {
    margin: 0 auto;
    width: 600px;
}

.email-container span {
    color: white;
    font: normal 22px "Trebuchet MS";
    position: relative;
    top: 15px;
    padding-left: 150px;
}

.email-container input[type="text"] {
    padding: 3px 0px 3px 10px;
    background: #e8ebee;
    border: 1px solid #e8ebee;
    border-radius: 5px 5px 5px 5px;
    font: normal 16px "Trebuchet MS";
    color: black;
    margin-top: 35px;
    width: 400px;
    height: 35px;
}

.email-container input[type="submit"] {
    padding: 1px 8px;
    background: #f46400;
    border: 1px solid #f46400;
    border-radius: 5px 5px 5px 5px;
    font: normal 16px "Trebuchet MS";
    color: white;
    width: 177px;
    height: 45px;
}

.email-container input[type="submit"]:hover {
    cursor: pointer;
    background: #AD591F;
}
