.filters-wrapper{
  float: right;
}
.filter-block{
  box-sizing: border-box;
  width: 200px;
  background: #eff1f3;
  margin: 6px;
}
.filter-header{
  box-sizing: border-box;
  width: 100%;
  height: 21px;
  padding: 0 10px;
  background: #dee5eb;
  color: $general_color;
  font-size: 12px;
  line-height: 21px;
}
.filter-content{
  box-sizing: border-box;
  width: 100%;
  height: 220px; /*временная высота, до заполнения блока контентом*/
  padding: 0 10px;
}