.post{
  padding: 10px 0;
  display: flex;

}
.post__writer-avatar{
  width: 50px;
  display: inline-block;
  margin: 0;
  text-align: center;
  img{
    height: 50px;
    width: 50px;
    display: block;
  }
  .status{
    display: block;
    margin-top: 5px;
    color: #aab1c7;
  }
}
.post__content-wrapper{
  padding-left: 10px;
}
.post__writer-name{
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #2b7cc0;
  margin-right: 5px;
  &+span{
    color: #9a96b8;
    font-size: 12px;
  }
}
.post__content{
  margin-top: 10px;
  line-height: 16px;
  font-size: 11px;
}
.post__video{}
.video-wrapper{
  margin: 5px 0;
  img{
    width: 329px;
  }
}
.post__video-info{}
.post__video-name{
  width: 210px;
  display: inline-block;
  color: #4568aa;
  a{color: #4568aa;
    font-weight: bold;}
}
.post__video-watch{
  float: right;
  color: #808080;
}
.post__footer{
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}
.post__date{
  color: #808080;
}
.post__action{
  width: 121px;
  display: flex;
  justify-content: space-between;
  color: #7a95b2;
  span{
    display: flex;
    align-items: center;
  }
  img{
    margin: 0 3px;
  }
  .like{
    margin-left: 5px;
  }
}
.post__show-all-comment{
  height: 31px;
  background: #e9edf1;
  line-height: 31px;
  text-align: center;
  color: #917996;
  cursor: pointer;
}