.projects-wrapper{
  box-sizing: border-box;
  display: inline-block;
  width: calc(100% - 212px);
  padding: 10px 16px;
}
.projects-block{
  display: block;
  padding: 0 0 10px 0;
  h4{
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
    color: $general_color;
    font-weight: 600;
    border-bottom: 1px solid $border_color;
  }
}
.projects-block__wrapper{
  display: flex;
  justify-content: space-between;
}
.projects-block__item{
  width: 100px;
  >div{
    height: 83px;
    position: relative;
    b{
      position: absolute;
      top: 5px;
      right: 5px;
      font-weight: 600;
      font-size: 12px;
      color: #597b9f;
    }
  }
  .city{
    box-sizing: border-box;
    width: 100%;
    height: 21px;
    padding-left: 15px;
    background: #8da1b5 url("../img/map_ico.png") 5px no-repeat;
    text-align: left;
    line-height: 21px;
    font-size: 9px;
    font-weight: bold;
    color: #fff;
  }
  p{
    box-sizing: border-box;
    width: 100%;
    margin: 5px 0 0 0;
    text-align: center;
    font-size: 11px;
    line-height: 16px;
    color: #90a6be;
  }
}
