.site_bar{
  padding: 5px 0 10px 0;
  width: 136px;
  float: left;
  nav{
    ul{
      li{
        list-style: none;
        position: relative;
        a{
          width: 100%;
          display: inline-block;
          line-height: 21px;
          margin-left: 4px;
          color: $link_color;
          padding-left: 4px;
          &:hover{
            background: #E1E7ED;
            border-radius: 2px;
          }
          &.active{
            &:before{
              content: '';
              display: block;
              width: 7px;
              height: 7px;
              border-radius: 4px;
              background-color: #537599;
              filter: blur(1px);
              position: absolute;
              left: -10px;
              top: 6px;
            }
          }
        }
        span{
          position: absolute;
          right:0;
          padding: 3px 5px;
          z-index: 1;
        }
        &.home{
          a{
            width: calc(100% - 50px);
            +.edit{
              width: 24px;
              float: right;
            }
          }
        }
      }
      &:not(:first-child){
        margin-top: 5px;
        padding-top: 5px;
        border-top: 1px solid #e7eaed;
      }
    }
  }
}