.wall{
  padding-right: 10px;
  min-height: 700px;
}
.wall-header{
  height: 70px;
  background: #f1f1f1;
  input{
    box-sizing: border-box;
    width: calc(100% - 16px);
    height: 29px;
    margin: 8px;
    padding-left: 10px;
    border: 1px solid #c3cbd4;
    outline: none;
  }
}
.wall-header__top{
  box-sizing: border-box;
  height: 25px;
  padding: 0 10px;
  background: #dee5eb;
  line-height: 25px;
  .records-sum{
    color: #45688e;
  }
  .go-to-user-records{
    float: right;
    color: #99adc2;
    font-weight: bold;
  }
}
