<div class="site_bar">
    <nav>
        <ul>
            <li class="home"><a href="#">Моя страница</a><a href="#" class="edit">ред.</a></li>
            <li><a href="#">Новости</a><span>1</span></li>
            <li><a href="#">Сообщения</a><span>1</span></li>
            <li><a href="#">Люди</a></li>
            <li><a href="#">Сообщества</a></li>
            <li><a href="#">Ресурсы</a></li>
            <li><a href="#">Навыки</a></li>
            <li><a href="#">Идеи</a></li>
            <li><a href="#" class="active">Проекты</a></li>
            <li><a href="#">Организации</a></li>
            <li><a href="#">Приложения</a></li>
        </ul>
        <ul>
            <li><a href="#">Настройки</a></li>
            <li><a href="#">Диск</a></li>
            <li><a href="#">Связи</a></li>
            <li><a href="#">Знания</a></li>
            <li><a href="#">Достижения</a></li>
            <li><a href="#">Заметки</a></li>
            <li><a href="#">ЖКХ</a></li>
            <li><a href="#">Предложения</a></li>
        </ul>
    </nav>
</div>