a{
  text-decoration: none;
  color: $link_color;
}

ul{
  margin: 0;
  padding: 0;
}

.container{
  width: 790px !important;
  margin: 0 auto;
  font-size: 12px;
  font-family: tahoma, arial, verdana, sans-serif;
  a{

  }
}
.clearfix:after{
  content:" ";
  display:table;
  clear:both;
}
.content{
  position: relative;
  margin-left: 150px;
  margin-right: 15px;
  border: 1px solid #D9E0E7;
  border-top: none;
  padding-top: 10px;
  .general_nan{
    border-bottom: 1px solid $general_color;
    padding: 0 10px;
    a{
      padding: 5px 10px;
      margin: 0 2px;
      display: inline-block;
      color: $general_color;
      border-radius: 3px 3px 0 0;
      &.active{
        background-color: $general_color;
        color: #fff;
      }
    }
  }
}

.add_project_line{
  background: #f7f7f7;
  padding: 10px;
  width: calc(100% - 20px);
  border-bottom: 1px solid #D9E0E7;
  input{
    height: 25px;
    border: 1px solid #c3cbd4;
    width: 380px;
    background: #fff url(../img/loop.jpg) left no-repeat;
    padding: 0 10px 0 20px;
  }
  button{
    float: right;
  }
}

.btn{
  height: 28px;
  background-color: #597da3;
  border: none;
  color: #fff;
  padding: 0 20px;
  border-right: 2px;
}

table{
  width: 100%;
  tr.title{
    color: $new-color;
    background: $main_bg;
    height: 25px;
    th:first-child{
      text-align: left;
      padding-left: 15px;
    }
  }
  tr{
    margin-left: 10px;
    td{
      min-height: 33px;
      padding: 5px 0;
      color: $general_color;
      text-align: center;
      &:first-child{
        padding-left: 20px;
        text-align: left;
      }
    }
  }
  .btn{
    height: 20px;
    padding: 0 3px;
  }
}

input[type=checkbox]{
  border-radius: 0;
}

footer{
  text-align: center;
  margin: 15px 0 40px 150px;
  a{
    margin: 0 10px;
    color: $link_color;
  }
}

.map_ico{
  display: inline-block;
  width: 8px;
  height: 11px;
  background: url(../img/map_ico.png);
}

.map_link{
  text-align: right;
  padding-right: 15px;
}

.star{
  display: inline-block;
  width: 19px;
  height: 18px;
  background: url("../img/star.png") center no-repeat;
  float: right;
  margin: 0 !important;
  padding: 0 !important;
}
.pottle{
  display: inline-block;
  width: 19px;
  height: 18px;
  background: url("../img/pottle.png") center no-repeat;
  float: right;
  margin: 0 0 0 5px !important;
  padding: 0 !important;
}
.clearfix:after{
  content:" ";
  display:table;
  clear:both;
}
