.contacts{
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .btn{
    float: right;}
}
.contacts__wrapper{
  display: inline-block;}
.items__wrapper{
  box-sizing: border-box;
  color: $general_color;
  padding: 10px 0;
  .item__block{
    &:not(:last-child){
      padding-bottom: 10px;
    }
  }
  a{
    text-decoration: underline;
    cursor: pointer;
    &:hover{
      text-decoration: none;
    }
  }
}
.rent{
  min-height: 150px;
}