.project{
  margin: 15px;
  h2{
    font-size: 12px;
    color: $link_color;
    margin-right: 200px;
  }
  .project__button{
    float: right;
    margin-top: -30px;
    margin-left: 5px;
    margin-bottom: 5px;
    button{
      display: block;
      margin-top: 10px;

    }
  }
  .description{
    color: $link_color;
    margin-top: 15px;
    strong{
      display: inline-block;
      margin-top: 30px;
    }
  }
  table{
    width: calc(100% + 30px);
    margin-left: -15px;
    tr{
      td{
        height: 20px;
        &:first-child{
          padding-left: 15px;
        }
        &:last-child{
          padding-right: 15px;
        }
      }
    }
  }
  .item_list {
    margin: 30px 14px;
  }
  .p_scheme{
    padding-top: 20px;
    img {
      margin: 10px auto 20px;
      display: block;
    }
  }
  .general_nan{
    box-sizing: border-box;
    width: calc(100% + 30px);
    margin-left: -15px;
    a{
      padding: 5px 9px;
      margin: 0;
    }
  }
}

.item_list{
  .item{
    width: 100px;
    height: 100px;
    margin: 4px;
    //background-color: #dfe6ed;
    display: inline-block;
    border: 1px solid $border_color;
    position: relative;
    text-align: center;
    a{
      display: block;
      text-align: center;
      padding: 0;
      font-size: 9px;
      background-color: $item_btn;
      min-height: 17px;
      line-height: 17px;
      color: #fff;
      position: absolute;
      bottom: 0;
      width:100%;
    }
    &:last-child{margin-right: 0;}
  }
  &.equipment{
    .item{
      height: 115px;
      a{
        height: 34px;}
    }
  }
}

.img_gallery{
  float: left;
  margin-right:20px;
  margin-bottom: 5px;
  position: relative;
  img{
    border: 1px solid $border_color;
  }
  > img{
    margin-bottom: 5px;
    width: 100%;
  }
  > div {

  }
}

.product_item{
}

.manufacturer{
  .item{
    img{
      margin-top: 5px;
    }
  }
}